table{
    background-color:  #edf2f6;
    color: ;
    border-color: ;
}

#TITULO{
    background-color: #ff5656;
    color: #212125;
}

body{
    background-color: #a3de83;

}


h3{
    background-color: #6a7efc;
    color: #212125;
}





























































































































































































